$imageWidth: 115px;
.rm-tile-list {
  .images-container {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: repeat(auto-fit, minmax($imageWidth, 1fr));

    .cropped-image {
      width: $imageWidth;
      height: $imageWidth + 20px;
      display: inline-block;
      margin: auto;
      margin-bottom: 15px;

      img {
        width: $imageWidth;
        height: $imageWidth;
        object-fit: cover;
        border: 1px solid #000000;
        display: block;
      }
    }
  }
}
